@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap'); 

:root {
    --main-color: black; 
    --accent-color:white;
    font-family: 'Eagle Lake', cursive;
}

body {
    font-family: 'Eagle Lake', cursive;
    max-width: 1100px;
    margin: auto;
}

body {
	cursor: url(../img/arrow.cur), auto;
}

body a:hover {
    cursor: url(../img/finger.cur), pointer;
}

#carouselProducts {
    min-height: 400px;
}

#carouselProducts img {
    max-height: 550px;
}

header .carousel h2 {
    font-family: 'Eagle Lake', cursive;
    font-size: 3rem;
    color: var(--accent-color);
    text-shadow: black 0 0 10px;
    text-align: center;
    border: 2px solid transparent;
}

header .carousel h3 {
    font-family: 'Eagle Lake', cursive;
    color: var(--accent-color);
    text-shadow: black 0 0 15px;
    text-align: center
}

header .carousel a {
    text-decoration: none;
}

header .header-nav {
    justify-content: center;
}

header .logo {
    font-size: 3.5rem;
    text-align: center;
}

header .navbar {
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a:hover {
    border: 1px solid var(--main-color);
}

body a {
    text-decoration: none;
}

main .news a {
    color: var(--main-color);
    text-decoration: none;
}

main .news a:hover {
    color: var(--main-color);
    text-decoration: none;
    border: 0.5px solid var(--main-color);
}

main .plays h3 {
    color: var(--main-color); 
}

main .plays a {
    text-decoration: none;
}

main .plays p {
    color: var(--main-color); 
    text-decoration: none;
}

main .media h3 {
    color: var(--main-color);
    text-decoration: none;
}

main .media a {
    text-decoration: none;
}

main .media p {
    color: var(--main-color);
    text-decoration: none;
}

.joinus {
    position: relative;
    background-image: url(../img/hotkev.jpeg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .joinus h3 {
    color: var(--accent-color);
    text-shadow: black 0 0 15px;
    font-family: 'Eagle Lake', cursive;
    font-size: 3.5rem;
}

main .contactus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}